.dialog {
	margin-top: 15%;
	margin-bottom: 40px;
	width: 350px;
	background-color: #A00000;
	text-align: center;
	color: #B0B0B0;
}

.dialog input {
	width: 60%;
	height: 33px;
	margin-bottom: 17px;
	padding: 0px 7px;
}

.dialog input[type=checkbox] {
	width: 20px;
	height: 20px;
}

.dialog #links {
	font-size: small;
	text-align: left;
	padding-left: 60px;
	margin-bottom: 10px;
	margin-top: 0px;
}

.dialog  #links a{
	color: grey;
	text-decoration: none;
}

.dialog .slide_help {
	font-size: small;
	text-align: left;
	padding-left: 60px;
	margin-bottom: 0px;
	margin-top: 0px;
	background: #FF3366;
	border-radius: 8px;
}

.dialog .slide_help ul {
	margin-bottom: 0px;
}

.dialog #other_login div {
	text-align: left;
	font-size: small;
	padding-left: 21px;
	color: #003333;
}

.dialog .warning {
	color: #FF6600;
	font-size: small;
	margin-top: -15px;
	padding-left: 60px;
	text-align: left;
	display: none;
}

#regist_dialog #new_second, .dialog > div {
	display: none;
}

#regist_dialog #new_second #new_rewrite {
	background-color: #C80000;
}

#regist_dialog #new_admin {
	font-size: small;
	text-align: left;
	padding-left: 60px;
	color: grey;
}

#regist_dialog #new_admin input[type=checkbox] {
	margin: 0px 10px 0px 0px;
}

#regist_dialog #new_admin label {
	vertical-align: top;
}

.FB_login {
	background-color: #0066CC;
}

.google_login {
	background-color: #CC0000;
}

.github_login {
	background-color: #B8B8B8;
}