html, body {
	height: 100%;
	min-height: 100%;
}

body {
	margin: 0px;
	background-color: #B0B0B0;
	color: #663300;
	font-family: "微軟正黑體", "Microsoft JhengHei", "標楷體", "DFKai-sb", "新細明體", "PMingLiU", "細明體", "MingLiU", serif;
}

body > main > section {
	margin-top: 5%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 40px;
	padding: 20px 10px;
	border-radius: 35px;
	display: none;
	width: 90%;
	background-color: #FFFFFF;
}

.bg {
	position: absolute;
	top: 0px;
	width: 100%;
	height: 100%;
	overflow: hidden;
	display: block;
	z-index: -10;
}

.bg img {
	position: absolute;
	min-height: 100%;
	min-width: 100%;
	display: none;
}

#bg-cover {
	background-color: rgba(176, 176, 176, 0.6);
	position: absolute;
	top: 0px;
	width: 100%;
	height: 100%;
	display: block;
	z-index: -9;
}

header {
	position: relative;
	top: 22px;
	background-color: #A00000;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 20px;
	padding-left: 20px;
	padding-bottom: 8px;
	color: #00FF33;
	text-shadow: 3px 3px 3px #003300;
}

header > h1 {
	margin: 0px;
}

header > h2 {
	margin: 0px;
	padding-top: 10px;
	padding-left: 150px;
	color: #009900;
}

header a:link, header a:visited {
	color: #00FF33;
	text-decoration: none;
}

header a:hover, header a:active {
	color: #CCFF66;
	text-decoration: none;
}

#top_bar {
	position: absolute;
	top: 0px;
	margin: 0px;
	padding: 3px 3% 0px 0px;
	height: 20px;
	width: 97%;
	background-color: #600000;
	text-align: right;
	color: #808080;
	font-size: small;
}

footer {
	position: fixed;
	bottom: 0px;
	margin: 0px;
	padding: 5px 0px 5px 0px;
	height: auto;
	width: 100%;
	background-color: #909090;
	text-align: center;
	color: #303030;
}

footer .foot_hover {
	margin-top: 40px;
	display: none;
}

a:visited {
	color: blue;
}

a:hover {
	color: #0066FF;
}

a:active {
	color: red;
}

nav {
	background-color: #C8C8C8;
	position: relative;
	top: 22px;
	padding: 0px 20px 0px 20px;
	display: none;
}

nav ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}

nav li {
	float: left;
}

nav .login_settings {
	float: right;
}

nav a:link, nav a:visited {
	display: block;
	width: 120px;
	font-weight: bold;
	color: white;
	text-align: center;
	padding: 5px;
	text-decoration: none;
}

nav a:hover {
	background-color: #D0D0D0;
}

nav a:active {
	background-color: #B0B0B0;
}

button {
	width: 100px;
	color: black;
	padding-top: 3px;
	padding-bottom: 3px;
	border-radius: 5px;
	border-top-width: 0px;
	border-left-width: 0px;
	background-color: #33CC33;
}

button:hover {
	background-color: #339933;
}

button:active {
	border-color: #00FF33;
	background-color: #00FF33;
}
table:not([class^="ui"]) {
	width: 100%;
	border-collapse: collapse;
}

table:not([class^="ui"]) tbody td {
	padding: 5px 0px 4px 9px;
	border:1px solid white;
}

table:not([class^="ui"]) thead th {
	padding: 7px 0px 6px 0px;
	border:1px solid white;
}

table:not([class^="ui"]) thead tr {
	background-color: #330000;
	color: #CCFFFF;
}

table:not([class^="ui"]) tr {
	background-color: white;
}

table:not([class^="ui"]) tr.alt {
	background-color: #B2FFB2;
}

table:not([class^="ui"]) tbody tr:hover, table:not([class^="ui"]) tbody tr.alt:hover {
	background-color: #5CE65C;
}

.slide_help {
	display: none;
}


