#user_info {
	position: absolute;
	display: none;
	z-index: 5;
	background-color: #CCFFFF;
	top: 40px;
	right: 42px;
	height: 110px;
	width: 300px;
	font-size: small;
	border-radius: 10px;
	padding-top: 12px;
	padding-left: 10px;
	padding-right: 10px;
}

#user_info > div {
	margin-top: 6px;
	margin-bottom: 6px;
	width: 200px;
}

#user_info #user_FB {
	z-index: 10;
	position: absolute;
	right: 12px;
	top: 11px;
	text-align: right;
	color: blue;
}